.copy-code-container {
    background-color: #444444;
    color: white;
    padding: 7.5px 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-code {
    background-color: transparent;
    color: white;
    border: 2px white solid;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.copy-code:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

code {
    border-radius: 0 0 10px 10px;
}