.header {
    background-color: #01070f;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonsContainer {
    display: flex;
    gap: 10px;
}

.button {
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
}