.menu{
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin: auto;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 1px #EDD5FA;
    background: #054D8A;
    padding: 20px 0;
    margin: 20px;
}

.box .number{
    font-size: 60px;
    color: #EDD5FA;
    margin-block-start: 0;
    flex-direction: column;
    margin-top: 30px;

}

.box .number, .box h3{
    background: #054D8A;
}

.box .title{
    color: black;
}

.dialog {
    /* centered in screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 1px #EDD5FA;
    background: white;
    padding: 20px;
    margin: 20px;
}